[master]
vardir = "{{ puppet_vardir }}"
logdir = "{{ puppet_logdir }}"
rundir = "{{ puppet_rundir }}"
pidfile = "{{ puppet_pidfile }}"
codedir = "{{ puppet_codedir }}"
[agent]
server = {{ puppet_server }}
certname = {{ puppet_certname }}